.review {
  text-align: center;
}

/* Navn + ophold */
.title {
  margin-bottom: 16px;
}

.title p {
  font-family: "Zen Loop", cursive;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

/* Brødtekst */
.desc {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
