/* ===========================
   Footer base
   =========================== */
.footer {
  background-color: #2a4f57;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;

  font-family: 'Zen Loop', cursive, system-ui;
}

/* Wrapper */
.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* ===========================
   Social icons
   =========================== */
.footerSocial {
  display: flex;
  gap: 1.5rem;
}

.footerIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.footerIcon img {
  width: 50px;
  height: 50px;
  filter: invert(100%); /* gør ikoner hvide */
}

.footerIcon:hover {
  transform: scale(1.08);
}

/* ===========================
   Logo + Brand
   =========================== */
.footerBrand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerLogo {
  width: 50px;
  filter: brightness(0) invert(1);
}

.footerText {
  font-size: 40px;
}
