@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body,
html {
  color: white;
  background-color: #ced3cd;
  font-family: "Nanum Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Zen Loop", cursive;
  font-weight: 200;
  line-height: 60px;
}

#root {
  text-align: center;
}
